<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdk.wisetracker.unity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:networkSecurityConfig="@xml/network_security_config">

        <provider
            android:name="com.sdk.wisetracker.new_dot.tracker.init.TrackerProvider"
            android:authorities="${applicationId}.TrackerProvider" />

        <service android:name="com.sdk.wisetracker.new_dot.tracker.service.PlayService" />
        
        <activity android:name="com.sdk.wisetracker.unity.UnityHelper"
                  android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  딥링크 진입 액티비티 선언 -->
        <activity android:name="com.sdk.wisetracker.unity.DeepLinkActivity" 
                  android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 딥링크로 진입될 스키마와 호스트 정보 입력 -->
                <data android:host="YOUR_HOST"
                      android:scheme="YOUR_SCHEME" />
            </intent-filter>
        </activity>
       
        <!-- install referrer 활성화 여부 -->
        <meta-data 
            android:name="disableDotReceiver" 
            android:value="false" />

        <!-- Wisetracker Key -->
        <meta-data
            android:name="useMode"
            android:value="1"/>
        <meta-data
            android:name="domain"
            android:value="https://trk.analytics.wisetracker.co.kr"/>
        <meta-data
            android:name="serviceNumber"
            android:value="103"/>
        <meta-data
            android:name="expireDate"
            android:value="14"/>
        <meta-data
            android:name="isDebug"
            android:value="true"/>
        <meta-data
            android:name="isInstallRetention"
            android:value="true"/>
        <meta-data
            android:name="isFingerPrint"
            android:value="true"/>
        <meta-data
            android:name="accessToken"
            android:value=""/> 
    </application>

</manifest>